@using SkiaSharp;
@using SkiaSharp.HarfBuzz;
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>



Welcome to your new app.

@code{
  protected override void OnInitialized()
  {
    Console.WriteLine("Home page initialized");
    var sk = new SkiaSharp.SKBitmap(100, 100);
    Console.WriteLine(sk);

    var skFont = SKFontManager.CreateDefault();
    var typeface = skFont.MatchFamily(skFont.GetFamilyName(0));
    Console.WriteLine(skFont);
    
    
    var shaper = new SkiaSharp.HarfBuzz.SKShaper(typeface);
    Console.WriteLine(shaper);
  }
}   
    
