@using SkiaSharp;

@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>



Welcome to your new app.

@code{

    protected override void OnInitialized()
    {
        Console.WriteLine("Home page initialized 2");
        var skObject = new SkiaSharp.SKColor(1, 1, 1);

        var skObject2 = new SkiaSharp.SKPaint()
        {
            Color = SKColors.DarkKhaki
        };


        SKCanvas canvas = new SKCanvas(new SKBitmap());
        canvas.DrawText("Hi", 0, 0, new SKFont(SKTypeface.Default), new SKPaint());
        Console.WriteLine("Draw text is there");
    }

    // private void OnPaintSurface(SKPaintSurfaceEventArgs e)
    // {
    //     // Get the canvas and clear it with a white background
    //     var canvas = e.Surface.Canvas;
    //     canvas.Clear(SKColors.White);

    //     // Create paint for the text
    //     using var paint = new SKPaint
    //     {
    //         Color = SKColors.Black,
    //         IsAntialias = true,
    //         TextSize = 24
    //     };

    //     // Draw the text at a specific location
    //     canvas.DrawText("Yo canvas!", 50, 50, paint);
    //     // Console.WriteLine(FontRuler.Instance.AvailableFonts);
    // }

}